$input-focus-border-color: white;
$input-btn-focus-box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
$form-select-indicator-color: $input-focus-border-color;
$form-select-focus-box-shadow: $input-btn-focus-box-shadow;

@import "../node_modules/bootstrap/scss/bootstrap";

#root {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  overflow: auto;
}

body {
  margin: 0;
  display: flex;
  height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.flex-1-0-auto {
  flex: 1 0 auto;
}

.flex-15 {
  flex: 0 0 15%;
}

.gap-1:nth-child(4) {
      margin-left: -0.25rem;
}